@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenu sur le page du laboratoire 1</h1>
    <p>Membre du projet : </p>
       <li>Jean-Pierre Duchesneau</li> 

    <p>Voici un  exemple de modification dans la pages Views/home/index.cshtml</p>
    <p>Site Web de <a href="https://dfcgit.cegep-ste-foy.qc.ca">GitLab du Cégep.</a></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
